{% extends "csbase.html" %}
{% block title %} Edit Orders {% endblock %}

{% block body %}


<h3>Rebuy Customer Data</h3>
<table class="table-sm table-cordered table-striped">
    <thead>
    <th>Customer Id</th>
    <th>First name</th>
    <th>last name</th>
    <th>Email</th>
    <th>Home Number</th>
    <th>Payment Type</th>
    <th>Orders</th>

    <th>Edit</th>


    </thead>
    {% for result in results %}
    <tr>
        <td>{{result.customer_id}}</td>
        <td>{{result.customer_first_name}}</td>
        <td>{{result.customer_last_name}}</td>
        <td>{{result.customer_email}}</td>
        <td>{{result.customer_phone_no}}</td>
        <td>{{result.payment_type_name}}</td>
        <td>See Orders</td>
        <td>Edit Data</td>





    </tr>


    <tr>
        <td colspan=" 10"><b> Customer Address</b></td></tr>
    <tr>
        <td>Street No</td>
        <td>Addition</td>
        <td>Street Name</td>
        <td>Postcode</td>
        <td>City</td>
        <td>Country</td>

    </tr>
    <tr>
        <td>{{result.street_no}}</td>
        <td>{{result.addition}}</td>
        <td>{{result.street_name}}</td>
        <td>{{result.postcode}}</td>
        <td>{{result.city}}</td>
        <td>{{result.country}}</td>

    </tr>
    {% endfor %}
</table>

{% endblock %}