{% extends "base-generic.html" %}

{% block leftmenu %}

<div class="forza-bg-stream-9 forza-col">
    <nav class="navbar fixed-left forza-left-menu">
        <div class="container-fluid">
            <ul class="nav flex-column list-group">
                <li class="nav-item">
                    <div class="forza-left-menu-item">
                        <h4>ORDERS</h4>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item active" href="http://forza-refurbished.co.uk/erptest/orders/index">Overview <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/orders/enterorder">Enter Test Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/orders/pickorders">Pick Orders</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

{% endblock %}


