{% extends "base-generic.html" %}

{% block leftmenu %}
<div class="forza-bg-stream-2 forza-col">
    <nav class="navbar fixed-left forza-left-menu">
        <div class="container-fluid">
            <ul class="nav flex-column list-group">
                <li class="nav-item">
                    <div class="forza-left-menu-item">
                        <h4>RMA</h4>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item active" href="http://forza-refurbished.co.uk/erptest/RMA/index">RMA Overview <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/reports">RMA Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/orders">RMA Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/rmashipping">Shipping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/check">Check warranty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/inspection">Inspection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/repair">Repair</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/repairtwo">Repair 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/PRinspection">Post Repair Inspection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/return">Return Devices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/mail">Mail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/history">Device History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/steps">RMA Steps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/reports">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/close">Close Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link forza-left-menu-item" href="http://forza-refurbished.co.uk/erptest/RMA/entertest">Enter Test RMA</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% endblock %}

