{% extends "rmabase.html" %}

{% block title %} RMA {% endblock %}

{% block body %}


<h1>Device History</h1>

<table class="table table-striped table-bordered">

    <thead>
    <th>Purchase date</th>
    <th>Device IMEI</th>
    <th>Device model</th>
    <th>Cost</th>
    <th>Event Name</th>
    <th>Problem Name</th>
    <th>Status Type</th>
    <th>Comments</th>
    <th>Date</th>



    <td>Details</td>
    <th>Previous RMAs</th>
    <th>Create RMA</th>




    </thead>
    {% for result in results %}
    <tr>
        <td>{{result.date}}</td>
        <td>{{result.imei}}</td>
        <td>{{result.device_model}}</td>
        <td>{{result.offer}}</td>
        <td>{{result.event_name}}</td>
        <td>{{result.problem_name}}</td>
        <td>{{result.status_type}}</td>
        <td>{{result.comments}}</td>
        <td>{{result.date}}</td>

        <td>n/a</td>
        <td></td>
        <td><a href="{{result.imei}}/testorder">Create RMA</a></td>
    </tr>

    {% endfor %}
</table>

{% endblock %}