{% extends "rmabase.html" %}

{% block title %} RMA {% endblock %}

{% block body %}

<h1>RMA Reports</h1>

<table class="table table-md table-striped table-bordered">
    <thead>
    <th>RMA ID</th>
    <th>RMA Date</th>
    <th>Device Imei</th>
    <th>Defect</th>
    <th>Comments</th>

    <th>RMA status</th>
    <th>Next Action</th>
    <th>Next Action</th>



    </thead>
    {% for result in results %}
    <tr>
        <td>{{result.rma_id}}</td>
        <td>{{result.rma_date}}</td>
        <td>{{result.imei}}</td>
        <td>{{result.problem_name}}</td>
        <td>{{result.comments}}</td>

        <td>{{result.status_type}}</td>
        <td>{{result.action_name}}</td>
        <td><a href="{{result.imei}}/{{result.button_link}}"><button class="btn btn-danger" name="actionbutton">{{result.button_text}}</button></a></td>




    </tr>



    {% endfor %}




</table>

{% endblock %}