{% extends "rebuybaselocal.html" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}

{% block body %}
<h1>Refuse Offer</h1>

Offer refused.
{#
<form class ="form" action="recycle" method="POST">
    <input type="hidden" name="imei" value="{{imei}}">
    <button class=" btn btn-success" name="recycle_button" value="submit" />Recycle</button></form>
<form class ="form" action="returndevice" method="POST">
    <input type="hidden" name="imei" value="{{imei}}">
    <button class="btn-danger" name="return_button" value="submit" />Return</button></form>#}

{% endblock %}